@font-face {
  font-family: opensans-l;
  src: url('../fonts/OpenSans-Light.ttf');
  font-weight: 100;
}
@font-face {
  font-family: opensans-r;
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: opensans-b;
  src: url('../fonts/OpenSans-Semibold.ttf');
  font-weight: bold;
}
body {
  /*background-image: url('../img/bg-body.jpg');*/
  font-family: opensans-r;
  overflow-y: scroll;
  color: #666;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern=1";
  -ms-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  background-color: #f3f3f3;
}
.navbar {
  padding: 20px 0;
  background: #3D3544;
}
.navbar-nav > li > a {
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 19px;
  padding-bottom: 0px;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 8px 15px;
  font-size: 30px;
  color: #dddddd !important;
  line-height: 30px;
}
.navbar-brand:hover {
  color: #ffffff !important;
}
.navbar-l {
  margin-left: 20px;
}
header {
  background: #e0684b url(../img/bg-pattern.png) 0 -204px repeat;
  color: #F5F5F5;
  padding: 60px 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-animation: bgscroll 30s infinite linear;
  overflow: hidden;
  margin-top: -20px;
}
@keyframes "bgscroll" {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -300px;
  }
}
@-webkit-keyframes "bgscroll" {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -300px;
  }
}
@-ms-keyframes "bgscroll" {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -300px;
  }
}
.hero-header {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.hero-text {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.content {
  padding: 60px 0px;
}
.maincontent h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25em;
  background: #FFF;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  min-height: 240px;
}
.maincontent h3 strong {
  font-weight: 700;
  /*text-transform: uppercase;*/
  font-size: 20px;
  color: #E0684B;
}
.maincontent a.btn {
  width: 100%;
  font-weight: bold;
  border: none;
  border-bottom: solid 4px rgba(0, 0, 0, 0.25);
  background: #53AF7A;
  color: #FFF;
  text-transform: uppercase;
}
.intquote {
  background: #3d3544 url(../img/bg-pattern.png) top left repeat;
  text-align: center;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #eeeeee;
}
.intquote span {
  font-weight: 300;
  font-size: 30px;
}
.intquote .quoteby {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.clients .each-client {
  cursor: pointer;
  border: 4px solid #dddddd;
  vertical-align: top;
  background-color: #fff;
  min-height: 260px;
  margin-bottom: 30px;
}
.clients .each-client:hover {
  border: 4px solid #53AF7A;
}
.clients .client-wipro {
  background-image: url(../img/clients/wiprobw.jpg);
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: 25px 25px;
}
.clients .client-wipro:hover {
  background-image: url(../img/clients/wipro.jpg);
}
.clients .client-ge {
  background-image: url(../img/clients/gebw.jpg);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 25px 25px;
}
.clients .client-ge:hover {
  background-image: url(../img/clients/ge.jpg);
}
.clients .client-symantec {
  background-image: url(../img/clients/symantecbw.jpg);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 25px 25px;
}
.clients .client-symantec:hover {
  background-image: url(../img/clients/symantec.jpg);
}
.clients .client-cisco {
  background-image: url(../img/clients/ciscobw.jpg);
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 25px 25px;
}
.clients .client-cisco:hover {
  background-image: url(../img/clients/cisco.jpg);
}
/* .hero-blk {
	background-color:#6f5092;
	background: url('../img/bg.png');
	margin-top: 50px;
	padding-bottom:70px;
	padding-top: 40px;
	color: #ffffff;
	
	.logo {
		text-align: left;
		margin-bottom: 60px;
		div {
			text-align: center;
			display: inline-block;
			font-size: 28px;
			color: #6f5092;
			background-color: #fff;
			width:40px;
			height: 40px;
			font-weight: bold;
			margin-right: 2px;
			border-radius:4px;
			box-shadow: 0px 0px 2px 2px #555;
			text-shadow: 0px 0px 8px #ffffff;
			font-weight: bold;
		}
	}
	
	p {
		padding-top: 20px;
		font-size: 30px;

		font-weight:100;
		text-align: left;
		padding-bottom:15px;border-bottom:5px dotted #cccccc;
		margin-bottom:20px;
		margin-top: 40px;
	}
}
.hero-img {
	font-size: 200px;
	color:#666;
}
.hero-footer {
	margin-top: -27px;
	border-bottom: 12px solid #fffd4f;
	-webkit-box-shadow: 0px 0px 5px 3px #444;
	-moz-box-shadow: 0px 0px 5px 3px #444;
	box-shadow: 0px 0px 5px 3px #444;
} */
/* .main-content {
	margin-top: 15px;
	min-height:400px;
	background: url('../img/bg.png');
	color: #eeeeee;
	box-shadow: inset 0px 0px 3px 3px #222;
}
 */
.affix {
  top: 75px;
  width: 280px;
}
.each-item {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 15px 0px;
  min-height: 280px;
  cursor: pointer;
}
.each-item .img-blk {
  background-color: #fff;
  padding: 5px;
}
.each-item .img-blk img {
  width: 100%;
}
.each-item .item-det .item-name {
  padding: 8px;
  margin-top: -30px;
  background-color: #555555;
  opacity: 0.8;
  color: #ffffff;
}
.each-item .item-footer {
  padding: 4px 8px;
  vertical-align: middle;
  font-size: 20px;
  margin: 3px 0px;
}
.each-item .item-footer .item-price {
  margin-top: 1px;
}
.intro-txt {
  font-size: 18px;
  padding-top: 10px;
}
.category-intro {
  padding-top: 76px;
}
.category-name {
  display: inline-block;
  background-color: #FF6B45;
  color: #ffffff;
  padding: 4px 8px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
}
.sidebar {
  border: 1px solid #dddddd;
  padding-left: 0px;
}
.sidebar ul {
  margin: 0px;
  padding: 0px;
}
.sidebar li {
  list-style-type: none;
}
.sidebar li a {
  font-size: 12px;
  padding: 12px 15px;
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  color: #7F868F;
  text-transform: uppercase;
}
.sidebar li a:hover {
  text-decoration: none;
}
.sidebar li a.active {
  background-color: #FF6B45;
  color: #ffffff;
}
.back-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
}
body.modal-open {
  overflow-y: scroll;
  margin: 0;
}
.modal {
  overflow: auto;
}
.each-blk {
  margin-top: 40px;
  /* border:2px solid #ac2925;
	border-radius:6px; */
}
.each-blk .glyphicon {
  font-size: 150px;
  color: #666;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  /* 50% black coming from the top */
}
.each-blk a {
  /* margin:0px -15px;
		display: block;
		text-align: center;
		padding:15px 0px;
		background-color: #ac2925;
		font-size: 18px;
		color: #eeeeee;
		font-weight: 100;
		text-transform: uppercase; */
}
.each-blk a:hover {
  text-decoration: none;
}
.each-blk p {
  padding: 20px 10px;
  font-weight: 100;
}
